# pymysql 실습

- pip install pymysql

In [1]:
import pymysql

# 1. DB 연결
- id, pw, host, port, db

In [4]:
# '127.0.0.1 = 'localhost'
conn = pymysql.connect(host='localhost', port=3306, user='mj',passwd='1234',db='csm_db', charset='utf8')


# 2. DB cursor 생성

In [25]:
# 커서 객체 생성
cur = conn.cursor()
# items 테이블이 존재하면 삭제
cur.execute('drop table if exists items')

0

# sql 명령 실행

In [26]:
# items 테이블 만들기 : 테이블이 존재하지 않으면 생성
create_sql = """
CREATE TABLE IF NOT EXISTS items(
    id integer primary key auto_increment,
    code text not null,
    name text not null,
    price integer null
)
"""
cur.execute(create_sql);

## 데이터 입력(create)

In [31]:
# 레코드 1개 테이블에 추가하기
INSERT_SQL = """
INSERT INTO items(code, name, price) VALUES (%s, %s, %s);
"""
cur.execute(INSERT_SQL, ('A0001', '게이밍 키보드', 38000))

1

In [32]:
# 변경사항 저장, 반드시 실행해야만 테이블에 반영됨.
#conn.rollback()
conn.commit()

In [36]:
# 여러개의 레코드를 한꺼번에 추가하기
datas = (
    ('A0002', '에어컨 30평형', 2000000),
    ('A0003', '최신형 스마트폰', 1000000),
    ('A0004', '최신형 노트북', 500000)
)
cur.executemany(INSERT_SQL, datas)

3

In [37]:
print(conn.get_autocommit())  # True면 자동커밋 ON

False

## 데이터 읽기 (read)

In [47]:
# select 문
select_sql1 = 'select * from items;'
select_sql2 = 'select * from items limit 2;'
cur.execute(select_sql2)

# DB 조회한  결과를 확인하기 위해서 fetch 수행
rows = cur.fetchall()
for idx, row in enumerate(rows):
    print(f"{idx+1} - {row[1:]}")
# print('========')

1 - ('A0001', '게이밍 키보드', 38000)
2 - ('A0002', '에어컨 30평형', 2000000)

In [48]:
rows = cur.fetchall()
rows

()

In [ ]:
# fetchall 한번 수행하면 데이터는 비워짐,
# 위에서 fetchall() 실행했기 때문에 빈결과가 나옴
cur.fetchall()

()

## 수정 (Update)

In [54]:
# UPDATE문(U)
update_sql = """
UPDATE items
SET price = %s
WHERE code = %s
"""
price = 1500000
code = 'A0001'
cur.execute(update_sql, (price, code))
# cur.execute("UPDATE items set price = %s WHERE code=%s;", (price, code))

0

In [55]:
conn.commit()

In [56]:
# id = 2인 레코드의 price -> 25000000 변경
update_sql = """
UPDATE items
SET price = %s
WHERE code = %s
"""
price = 2500000
code = 'A0002'
cur.execute(update_sql, (price, code))

3

In [57]:
conn.commit()

## 데이터 삭제(Delete)

In [63]:
delete_sql = """
DELETE FROM items
WHERE code = %s
"""
cur.execute(delete_sql, 'A0003')
conn.commit()

# 4. commit, rollback 실행
- insert, udate, delete sql을 실행했을 경우는 반드시 실행햐아 DB에 반영됨

In [69]:
# 데이터 생성하기
# code A0005, name 로봇청소기, price 1000000

INSERT_SQL = """
INSERT INTO items(code, name, price) VALUES (%s, %s, %s);
"""
cur.execute(INSERT_SQL, ('A0005', '게이밍 로봇청소기', 1000000))
conn.commit()

In [ ]:
INSERT_SQL = """
INSERT INTO items(code, name, price) VALUES (%s, %s, %s);
"""
cur.execute(INSERT_SQL, ('A0006', '스타일러', 35000000))


# conn.commit()

1

In [72]:
# DB에 가장 마지막에 반영한 이후 시점까지 되돌리기
# conn.rollback()

In [71]:
# 조회
elect_sql1 = 'select * from items;'
cur.execute(select_sql1)
rows = cur.fetchall()
rows

((1, 'A0001', '게이밍 키보드', 1500000),
 (2, 'A0002', '에어컨 30평형', 2500000),
 (11, 'A0005', '게이밍 로봇청소기', 1000000),
 (14, 'A0005', '게이밍 로봇청소기', 1000000),
 (15, 'A0006', '스타일러', 35000000))

# 5. DB close()
- 데이터 처리를 위해 연결한 DB 연결 자원을 반환함.


conn.close()